<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>Your contribution makes a difference! By sharing diagnostic and usage data you will fuel the development of even cooler features in the future. We don’t share this information with anyone nor will we ever, pinky swear. Also, stay tuned for the infographic showcasing how valuable your input is (anonymously, of course).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<true/>
			<key>Title</key>
			<string>Share iPhone Analytics</string>
			<key>Key</key>
			<string>flutter.analyticsCollectionEnabled</string>
		</dict>
	</array>
</dict>
</plist>
