<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiCwczgOo37F2irJnuMEyYeZ_xMFcQm28</string>
	<key>GCM_SENDER_ID</key>
	<string>1070999950214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wheresmyshit.afrikaburn</string>
	<key>PROJECT_ID</key>
	<string>afrikaburn-35158</string>
	<key>STORAGE_BUCKET</key>
	<string>afrikaburn-35158.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070999950214:ios:fbb43063c274316e369207</string>
	<key>DATABASE_URL</key>
	<string>https://afrikaburn-35158.firebaseio.com</string>
</dict>
</plist>